[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SimHaz"]
	path = SimHaz
	url = https://github.com/rabbeelab/simhaz
	subdir = SimHaz
